Refreshing a lock isn't supported by the client.

Refreshing a lock involves sending a `LOCK` request without body, but with `If` header.

Please provide some details like examlle code.

You can find information about it in the [RFC 4918, Section 9.10.8](https://tools.ietf.org/html/rfc4918#section-9.10.8).